# <--- this is a comment, you can write whatever here,
# everything else needs to be very accurately typed, so try
# and copy the other settings!
# TUTORIAL IS AT THE BOTTOM, BUT FOR NOW LEARN BY SEEING, TWEAK THE DEFAULT OPTIONS OR COPY ETC.

# Whether to allow a sound to play over each other (cuts a sound off when playing the same one)
# Default: Don't allow spam
# allowspam

# I'm sure you know what this means
# Default: 100
volume 100

# The default sound to play if item doesn't have a sound
# Default: nothing
default item play dig.stone 0.6 1

# The default sound to play when crafting something
# Default: nothing
default craft play random.pop 1 1

# The default sound to play when typing something, the pitch is used as the starting pitch to scale upto 2
# Default: nothing
default typing play random.click 0.4 1.5

# The default sound to play when opening the player inventory, 
# when opening plays 1.5 when closing plays half of it so 0.75
# Default: nothing
default inventory play random.click 1 1.5

# The default sound to play when dropping an item
# Default: nothing
default drop play random.pop

# Conditional
# Woody
if item $OreDict contains wood play dig.wood
if item $OreDict contains plank or $Id contains plank play dig.wood

# Metally
if item $DisplayName contains ingot or $Id contains ingot play flair:metally
if item $DisplayName contains iron or $Id contains iron play flair:metally
if item $DisplayName contains gold or $Id contains gold play flair:metally

# Dusty
if item $DisplayName contains sand or $Id contains sand play dig.sand
if item $DisplayName contains dust or $Id contains dust play dig.sand
if item $DisplayName contains powder or $Id contains powder play dig.sand

# Snowy
if item $DisplayName contains snow or $Id contains snow play dig.snow

# Stony
if item $DisplayName contains brick or $Id contains brick play dig.stone

# Leather
if item $DisplayName contains leather or $Id contains leather play mob.horse.leather

# Crystally / Glassy
if item $DisplayName contains ice or $Id contains ice play flair:crystally
if item $DisplayName contains glass or $Id contains glass play flair:crystally
if item $DisplayName contains crystal or $Id contains crystal play flair:crystally

# If an item is place-able then play it's sound when stepped on
# We have to place this lower than all the other ifs because this will always take power
if item $IsBlock is true playblocksound break

# Specific
set item noteblock play note.harp
set item piston play tile.piston.in
set item sticky_piston play tile.piston.in
set item chest play random.chestopen 0.5
set item trapped_chest play random.chestopen 0.5
set item anvil play random.anvil_land 0.1
set item fishing_rod play random.bow
set item bone play mob.skeleton.step
set item nether_star play random.orb
set item fireworks play fireworks.launch
set item shears play mob.sheep.shear
set item lava_bucket play liquid.lavapop
set item water_bucket play liquid.water

# Click
set item lever play random.click
set item dispenser play random.click
set item wooden_button play random.click
set item stone_button play random.click
set item repeater play random.click

# Ignite
set item flint_and_steel play fire.ignite
set item fire_charge play fire.ignite

# Ding
set item bow play random.bowhit
set item arrow play random.bowhit

# Ew
set item fish play mob.silverfish.step
set item cooked_fished play mob.silverfish.step
set item spider_eye play mob.silverfish.step
set item fermented_spider_eye play mob.silverfish.step
set item rotten_flesh play mob.silverfish.step

# Slosh
set item slime_ball play mob.slime.small
set item magma_cream play mob.slime.small

# Fire-y
set item blaze_rod play fire.fire
set item furnace play fire.fire

# Shing
set item diamond_helmet play flair:shing
set item chainmail_helmet play flair:shing
set item golden_helmet play flair:shing
set item iron_helmet play flair:shing

set item diamond_chestplate play flair:shing
set item chainmail_chestplate play flair:shing
set item golden_chestplate play flair:shing
set item iron_chestplate play flair:shing

set item diamond_leggings play flair:shing
set item chainmail_leggings play flair:shing
set item golden_leggings play flair:shing
set item iron_leggings play flair:shing

set item diamond_boots play flair:shing
set item chainmail_boots play flair:shing
set item golden_boots play flair:shing
set item iron_boots play flair:shing

# Crystally / Glassy
set item diamond play flair:crystally
set item emerald play flair:crystally
set item potion play flair:crystally
set item experience_bottle play flair:crystally
set item glass_bottle play flair:crystally
set item dye@4 play flair:crystally

# Metally
set item diamond_block play flair:metally
set item emerald_block play flair:metally
set item gold_block play flair:metally
set item lapis_block play flair:metally
set item redstone_block play flair:metally
set item cauldron play flair:metally
set item hopper play flair:metally

# Woody
set item bowl play dig.wood
set item mushroom_stew play dig.wood
set item boat play dig.wood

# Clothy
set item string play dig.cloth
set item feather play dig.cloth
set item lead play dig.cloth

# Dusty
set item sugar play dig.sand
set item clay_ball play dig.sand
set item gunpowder play dig.sand
set item glowstone_dust play dig.sand
set item redstone play dig.sand
set item dye play dig.sand

# Grassy
set item melon play dig.grass
set item melon_seeds play dig.grass
set item speckled_melon play dig.grass
set item wheat_seeds play dig.grass
set item wheat play dig.grass
set item reeds play dig.grass
set item paper play dig.grass
set item carrot play dig.grass
set item potato play dig.grass

set item saddle play mob.horse.leather

# Blocks

set block minecraft:unpowered_repeater@2 play random.click 1 0.8
set block minecraft:unpowered_repeater@6 play random.click 1 1
set block minecraft:unpowered_repeater@10 play random.click 1 1.2
set block minecraft:unpowered_repeater@14 play random.click 1 0.6

set block minecraft:powered_repeater@2 play random.click 1 0.8
set block minecraft:powered_repeater@6 play random.click 1 1
set block minecraft:powered_repeater@10 play random.click 1 1.2
set block minecraft:powered_repeater@14 play random.click 1 0.6

set block crafting_table play dig.wood
set block furnace play fire.fire
set block dispenser play random.click 0.75
set block dropper play random.click 0.75
set block anvil play random.anvil_land 0.25 2

# Tutorial
# To get sounds, item names etc. I added some utility commands to run in game
# Like /flair config                   | to open this config
# /flair log sounds                    | to log all sounds playing around you to a file next to the config
# /flair find <approximate sound name> | to search for similar named sounds
# /flair play <approximate sound name> | to play the first similar named sound
# /flair hand                          | to tell you the item in your hand and copy it to clipboard
# /flair block                         | to tell you the block your looking at and copy it to clipboard

# Item IDs are formatted as follows <namespace:path@meta> so for lapis_lazuli it'd be 'minecraft:dye@4' (yes lapis_lazuli in Minecraft counts as dye number 4, minecraft moment)
# anything from minecraft you don't need to add minecraft:dye you can just do dye
# set item dye@4 play random.pop 1 1

# Each variable has available comparison methods like $DisplayName has [is, isnt, contains, matches]
# Example:
# if item $DisplayName is some_name play dig.wood
# if item $DisplayName isnt some_name play dig.wood
# if item $DisplayName contains some_name play dig.wood
# if item $DisplayName matches some_name play dig.wood

# Available commands:
# volume <volume>
# default <item|craft|drop|typing|inventory> <play sound type>
# allowspam
# if <item|block> <variable> <comparison method> <your input> <play sound type>
# set <item|block> <id> <play sound type>

# <item|block>: whether to check for items or blocks

# All <variable>s:
# For Item: [$DisplayName, $Id, $OreDict, $Damage, $IsBlock]
# For Blocks: [$DisplayName, $Id, $BlockMeta, $HasEntity]

# Different <comparison_method> that <variable> accepts
# $DisplayName = [is, isnt, contains, matches]
# $Id = [is, isnt, contains, matches]
# $OreDict = [is, isnt, contains, matches]
# $Damage = [is, isnt]
# $IsBlock = [is, isnt]
# $BlockMeta = [is, isnt]
# $HasEntity = [is, isnt]

# All <comparison_method>s:
# is | pretty self explanatory
# isnt | also pretty self explanatory
# contains | checks if a word is in a DisplayName, Id etc.
# matches | basically a way more powered `contains`. To learn more it's java flavoured regex, `https://regexlearn.com/` (very powerful)
# Here's an example of how it can match Anything with "Ore" in its name but not match "More" `https://regex101.com/r/vww62m/3`

# All <play sound type>s:
# play <sound> <volume> <pitch>
# playblocksound <break|step> <volume> <pitch>