# Configuration file

general {
    # How shall I greet? [default: Hello World]
    S:greeting=Hello World
}


##########################################################################################################
# modules
#--------------------------------------------------------------------------------------------------------#
# Master toggles to enable or disable entire modules
##########################################################################################################

modules {
    # Set to false to disable the BetterPlacement module [default: true]
    B:enable_betterplacement=false

    # Set to false to disable the ColoredHearts module [default: true]
    B:enable_coloredhearts=true

    # Set to false to disable the FastEquip module [default: true]
    B:enable_fastequip=true

    # Set to false to disable the GrassIsAnnoying module [default: true]
    B:enable_grassisannoying=true

    ##########################################################################################################
    # fastequip
    #--------------------------------------------------------------------------------------------------------#
    # FastEquip module - right-click to equip armor from hotbar/inventory
    ##########################################################################################################

    fastequip {
        # Set to false to disable fast armor equip when right clicking in hotbar [default: true]
        B:isHotbarFastEquipEnabled=true

        # Set to false to disable fast armor equip when right clicking in inventory [default: true]
        B:isInventoryFastEquipEnabled=true
    }

    ##########################################################################################################
    # grassisannoying
    #--------------------------------------------------------------------------------------------------------#
    # GrassIsAnnoying module - attack entities through grass and hide block outline
    ##########################################################################################################

    grassisannoying {
        # Set to false to keep the block outline when aiming at an entity through grass [default: true]
        B:hideBlockOutline=true

        # Set to false to disable attacking through grass [default: true]
        B:isModEnabled=true
    }

    ##########################################################################################################
    # betterplacement
    #--------------------------------------------------------------------------------------------------------#
    # BetterPlacement module - remove right-click delay for snappier block placement
    ##########################################################################################################

    betterplacement {
        # If true, the modifications will only apply in creative mode [default: false]
        B:creativeOnly=false

        # When true, a held right click will never place two blocks in a row, the player must move the cursor to a new location [default: true]
        B:forceNewLoc=true
    }

}


