# Configuration file

gsakit {
    B:debug=false
}


surveyaccuracy {
    I:baseBlocksPerStrengthBand=8
    I:baseCellSize=24
    I:baseReadingRadius=16
    I:baseStrengthBands=3
    I:baseTooltipLimit=1
    I:deshCellSize=1
    I:deshReadingRadius=0
    I:deshTooltipLimit=5
    I:steelBlocksPerStrengthBand=4
    I:steelCellSize=12
    I:steelReadingRadius=6
    I:steelStrengthBands=5
    I:steelTooltipLimit=3
}


##########################################################################################################
# surveymapcolors
#--------------------------------------------------------------------------------------------------------#
# Client-side ore colors in #RRGGBB format. Additional canonical ore names may be added.
##########################################################################################################

surveymapcolors {
    S:Adamantium=#4BA34B
    S:Aluminum=#9BA4AB
    S:Asbestos=#999B91
    S:Australium=#DCB300
    S:Beryllium=#535347
    S:Borax=#A29477
    S:CertusQuartz=#A4C5DD
    S:ChargedCertusQuartz=#A9C9E0
    S:Cinnabar=#843623
    S:Coal=#171618
    S:Cobalt=#667391
    S:Coltan=#52453C
    S:Conglomerate=#8B8B8B
    S:Copper=#BA633C
    S:Debris=#604038
    S:Diamond=#87E6E6
    S:Emerald=#22913F
    S:Fluorite=#D7CFC6
    S:Gold=#C59334
    S:HeeEndPowder=#66039C
    S:HeeEndium=#5E98C5
    S:HeeIgneousRock=#6C5337
    S:HeeInstabilityOrb=#107104
    S:HeeStardust=#C3B213
    S:Hematite=#8F675E
    S:Iodine=#3C3C52
    S:Iron=#999999
    S:Lanthanum=#5E7575
    S:Lapis=#1E349E
    S:Lead=#474753
    S:Lignite=#2C1809
    S:Limestone=#5C5E4B
    S:Lithium=#AFAFAF
    S:Malachite=#578D71
    S:Molysite=#7DA334
    S:Neodymium=#7B7B4F
    S:Nickel=#A28F87
    S:Niobium=#624675
    S:Platinum=#E3E2F5
    S:Plutonium=#4A5350
    S:Quartz=#B1A59D
    S:RareEarth=#7D8484
    S:RedPhosphorus=#68020A
    S:Redstone=#603736
    S:Saltpeter=#9E9E9E
    S:Schrabidium=#059B9B
    S:Silver=#D9E7F2
    S:Sulfur=#DEC84F
    S:Thorium=#7B452C
    S:Tin=#B0C4DE
    S:Titanium=#96928D
    S:Tungsten=#2C2C2C
    S:Uranium=#686F64
    S:Zinc=#8B8587
    S:Zirconium=#948D6F
}


##########################################################################################################
# surveymapstyle
#--------------------------------------------------------------------------------------------------------#
# Client-side Ore Survey colors and opacity. Changes require a game restart.
##########################################################################################################

surveymapstyle {
    I:oreOpacityPercent=100
    S:unknownOreColor=#B06DD6
    S:unsurveyedColor=#777777
    I:unsurveyedOpacity=110
}


