# Configuration file

Commands {

    mail {
        S:aliases <
         >
    }

    auth {
        S:aliases <
         >
    }

    protectdebug {
        S:aliases <
         >
    }

    fevanish {
        S:aliases <
            vanish
         >
    }

    ferules {
        S:aliases <
            rules
         >
        S:filename=rules.txt
    }

    feafk {
        S:aliases <
            afk
         >
    }

    fepush {
        S:aliases <
            push
         >
    }

    remote {
        S:aliases <
         >
    }

    uuid {
        S:aliases <
         >
    }

    gamemode {
        S:aliases <
            gm
         >
    }

    permitem {
        S:aliases <
         >
    }

    fecapabilities {
        S:aliases <
            capabilities
         >
    }

    feduplicate {
        S:aliases <
            duplicate
         >
    }

    fefly {
        S:aliases <
         >
    }

    "/fepos2" {
        S:aliases <
         >
    }

    "/fepos1" {
        S:aliases <
         >
    }

    vip {
        S:aliases <
         >
    }

    fenoclip {
        S:aliases <
         >
    }

    fereach {
        S:aliases <
            reach
         >
    }

    area {
        S:aliases <
            zone
         >
    }

    feinfo {
        S:aliases <
         >
    }

    fesettings {
        S:aliases <
            feconfig
         >
    }

    serversettings {
        S:aliases <
            ss
         >
    }

    virtualchest {
        # Don't use special stuff....
        S:VirtualChestName=Vault 13

        # 1 row = 9 slots. 3 = 1 chest, 6 = double chest (max size!).
        I:VirtualChestRows=6
        S:aliases <
            vchest
         >
    }

    fecommandbook {
        S:aliases <
            cmdbook
            commandbook
         >
    }

    "/fewand" {
        S:aliases <
         >
    }

    febind {
        S:aliases <
            bind
         >
    }

    fescript {
        S:aliases <
            script
         >
    }

    "/expandY" {
        S:aliases <
         >
    }

    fesmite {
        S:aliases <
            smite
         >
    }

    findblock {
        S:aliases <
            fb
         >

        # Default max distance used.
        I:defaultRange=320

        # Default speed used.
        I:defaultSpeed=256
    }

    femodlist {
        S:aliases <
            modlist
         >
    }

    feinvsee {
        S:aliases <
         >
    }

    itemperm {
        S:aliases <
         >
    }

    no {
        S:aliases <
            decline
            deny
         >
    }

    febutcher {
        S:aliases <
            butcher
         >
    }

    feburn {
        S:aliases <
            burn
         >
    }

    fereload {
        S:aliases <
            reload
         >
    }

    promote {
        S:aliases <
         >
    }

    fekill {
        S:aliases <
            kill
         >
    }

    doas {
        S:aliases <
         >
    }

    feweather {
        S:aliases <
            weather
         >
    }

    ferepair {
        S:aliases <
            repair
         >
    }

    "/fedesel" {
        S:aliases <
            /fedeselect
            /deselect
            /sel
         >
    }

    feremove {
        S:aliases <
            remove
         >
    }

    rollback {
        S:aliases <
            rb
         >
    }

    enderchest {
        S:aliases <
            echest
         >
    }

    fedrop {
        S:aliases <
            drop
         >
    }

    feping {
        S:aliases <
            ping
         >
        S:response=Pong! %time
    }

    "/expand" {
        S:aliases <
         >
    }

    fedechant {
        S:aliases <
            dechant
         >
    }

    ferename {
        S:aliases <
            rename
         >
    }

    yes {
        S:aliases <
            accept
            allow
         >
    }

    fetempban {
        S:aliases <
            tempban
         >
    }

    feheal {
        S:aliases <
            heal
         >
    }

    feseen {
        S:aliases <
            seen
         >
    }

    febiome {
        S:aliases <
            biomeinfo
         >
    }

    fepotion {
        S:aliases <
            potion
         >
    }

    febubble {
        S:aliases <
            bubble
         >
    }

    fepregen {
        S:aliases <
            pregen
            filler
         >
    }

    feworldinfo {
        S:aliases <
         >
    }

    help {
        S:aliases <
            ?
         >
    }

    felocate {
        S:aliases <
            locate
            gps
            loc
            playerinfo
         >
    }

    feenchant {
        S:aliases <
            enchant
         >
    }

    fespeed {
        S:aliases <
            speed
         >
    }

    delayedaction {
        S:aliases <
         >
    }

    time {
        S:aliases <
         >
    }

    fekit {
        S:aliases <
            kit
         >

        # Name of kit to issue to new players. If this is left blank, it will be ignored.
        S:kitForNewPlayers=
    }

    pl {
        S:aliases <
         >
    }

    fecraft {
        S:aliases <
            craft
         >
    }

    feperm {
        S:aliases <
            perm
            fep
            p
         >
    }

    mute {
        S:aliases <
         >
    }

    nickname {
        S:aliases <
            nick
         >
    }

    pm {
        S:aliases <
         >
    }

    reply {
        S:aliases <
            r
         >
    }

    timedmessage {
        S:aliases <
            tm
         >
    }

    unmute {
        S:aliases <
         >
    }

    gmsg {
        S:aliases <
         >
    }

    irc {
        S:aliases <
         >
    }

    ircpm {
        S:aliases <
         >
    }

    ircbot {
        S:aliases <
         >
    }

    discord {
        S:aliases <
         >
    }

    feback {
        S:aliases <
         >
    }

    febed {
        S:aliases <
         >
    }

    fehome {
        S:aliases <
         >
    }

    fespawn {
        S:aliases <
         >
    }

    tp {
        S:aliases <
         >
    }

    tppos {
        S:aliases <
         >
    }

    fewarp {
        S:aliases <
         >
    }

    tpa {
        S:aliases <
         >
    }

    pwarp {
        S:aliases <
         >
    }

    fetop {
        S:aliases <
         >
    }

    feportal {
        S:aliases <
         >
    }

    setspawn {
        S:aliases <
         >
    }

    fejump {
        S:aliases <
         >
    }

}


CommandsConfig {
    I:version=4
}


