# Configuration file

afk {
    # fe.commands.afk.autokick = false
    # Automatically kick a player, when he is AFK
    S:auto_kick=

    # fe.commands.afk.autotime = 480
    # Auto afk time in seconds. Set to 0 to disable.
    S:timeout=

    # fe.commands.afk.warmup = 10
    # Time a player needs to wait before he can go afk with /afk
    S:warmup=
}


afterlife {
    S:respawn_debuffs=
    S:respawn_food=
    S:respawn_hp=
}


grave {
    S:block=
    S:enable=false
    S:fence=
    S:recoverable_xp=
    S:safetime=
}


teleport {
    # fe.teleport.cooldown = 5
    # Allow bypassing teleport cooldown
    S:cooldown=

    # fe.teleport.warmup = 3
    # Allow bypassing teleport warmup
    S:warmup=
}


